
.accordion {
    background-color: #CFD8DC;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}

.active, .accordion:hover {
    background-color: #07a4e8;
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    color: #212121;
    background-color: blanchedalmond;
    max-height: 0;
    max-width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}